on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Development
jobs:
  build:
    name: Build & Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        uses: actions/setup-go@v2
        with:
          go-version: "1.19" # The Go version to download (if necessary) and use.
      - run: go version
      - run: make build-linux
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: sc-linux
          path: sc-linux
      - run: make build-mac
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: sc-mac
          path: sc-mac
      - run: make build-mac-arm
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: sc-mac-arm
          path: sc-mac-arm
      - run: make build-windows
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: sc-win
          path: sc-win.exe
      - run: make build-linux-arm
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: sc-rpi
          path: sc-rpi
