on:
  workflow_dispatch:

name: Release

jobs:
  build:
    name: Semantic-Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - run: echo "1.0.0+1" > .version # this file seems to be required for the dry-mode

      # Go Semantic Release
      - name: Run Semantic Release
        uses: go-semantic-release/action@v1
        id: semrel
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-file: CHANGELOG.md
          dry: true # this will put the new version only in the '.version-unreleased' file.
          # update-file: .version

      - name: Set up Git
        if: steps.semrel.outputs.version != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
          git add CHANGELOG.md
          git commit -m "chore(release): update changelog"
          git push

      - name: Update pubspec.yaml
        if: steps.semrel.outputs.version != ''
        run: | # use '.version-unreleased' if in dry-mode
          echo "Version Release: ${{ steps.semrel.outputs.version }}"
          echo "Changelog: ${{ steps.semrel.outputs.changelog }}"
          echo "Version Unreleased: $(cat .version-unreleased)"
          echo "CHANGELOG.md: $(cat CHANGELOG.md | sed '/^#### Feature/s!\(#### \)!#### 游꾸 !' | sed '/^#### Bug/s!\(#### \)!#### 游 !' | sed '/^#### Chores/s!\(#### \)!#### 游뚾 !' | sed '/^#### CI/s!\(#### \)!#### 游대 !')"
          ./.github/scripts/updateVersion.sh "$(cat .version-unreleased)"

      - name: Push tag
        id: tag
        if: steps.semrel.outputs.version != ''
        run: |
          TAG="v${{steps.semrel.outputs.version}}"
          echo "::set-output name=name::$TAG"
          git push origin :refs/tags/${TAG}
          git tag -fa ${TAG} -m "Release $TAG"
          git push origin ${TAG}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.name }}
          release_name: Release ${{ steps.tag.outputs.name }}
          draft: false
          prerelease: false
          body: ${{ steps.semrel.outputs.changelog }} | sed '/^#### Feature/s!\(#### \)!#### 游꾸 !' | sed '/^#### Bug/s!\(#### \)!#### 游 !' | sed '/^#### Chores/s!\(#### \)!#### 游뚾 !' | sed '/^#### CI/s!\(#### \)!#### 游대 !'

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ${{ steps.prepare-build.outputs.dir }}
          asset_name: ${{ steps.prepare-build.outputs.file }}
          asset_content_type: application/apk
